body {
background: hsl(67, 43%, 96%);
}

#mainheader {
background-color: #FDE9FF;
display: flex;
align-items: center;
padding: 0 20px;
justify-content: space-between;
}

h1 {
display: flex;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 2em;
margin-block-start: 0.67em;
margin-block-end: 0.67em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
}

.topnav {
border: 1px solid mediumpurple;
border-radius: 20px;
padding: 8px 20px;
display: flex;
gap: 20px;

}

#mainheader div {
display: flex;
}

.icon {
display: flex;
}

.icon img {
display: flex;
justify-content: space-between;
width: 50px;
height: 50px;
align-items: center;

}


.logo-parent {
position: relative;
top: 0;

}

.logo {
margin:0;
width: 50px;
height: 50px;
}


#query {
border-radius: 20px;
width: 60vw;
padding: 10px 20px;
border: 1px solid mediumpurple;
display: flex;
}

#pet-container {
display: flex;
justify-content: center;
}

#pet-nav {
width: 65vw;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 10px 20px; /* row-gap column gap */
}

#pet-nav img {
display: flex;
width: 200px;
height: 200px;
padding: 20px;
transition: transform .2s;
border-radius: 30px;
margin: 0 auto;
}

img:hover {
transform: scale(1.2); 
}

.pet-card {
background-color: #FDE9FF;
position: relative;
width: 260px;
height: 400px;
margin: 20px;
display: block;
flex-direction: column;
align-items: center;
border-radius: 30px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: box-shadow 0.3s ease-in-out;
}

.pet-info {
background-color: white;
position: absolute;
top: 140px;
left: 20px;
width: 215px;
height: 240px;
margin-right: auto;
margin-left: auto;
border-radius: 30px;
text-align: justify;

}

.pet-info h3 {
text-align: left;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: small;
text-indent: 35px;
position: relative;
top: 40px;
left: -5px;
}



#image-png {
    display: flex;
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 30px;
    margin: 0 auto;
}

/* Start the form as hidden */
#adoption-form {
    background-color: #FDE9FF;
    width: 65vw;
    display: none;
    flex-wrap: wrap;
    justify-content: left;
    border-radius: 20px;
    padding: 8px 20px;
    /* position: absolute;
    top: 140px; */
    gap: 10px 20px; /* row-gap column gap */
    }
