body {
background: hsl(67, 43%, 96%);
}

#mainheader {
background-color: #FDE9FF;
display: flex;
align-items: center;
padding: 0 20px;
justify-content: space-between;


}

.topnav {
border: 1px solid black;
border-radius: 20px;
padding: 8px 20px;
display: flex;
gap: 10px;
}

#mainheader div {
display: flex;
}



.logo-parent {
position: relative;
top: 0;
left: 100;
}

.logo {
margin:0;
width: 50px;
height: 50px;
}


#query {
    border-radius: 20px;
    width: 60vw;
    padding: 10px 20px;
}

#pet-container {
display: flex;
justify-content: center;
}

#pet-nav {
width: 65vw;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 10px 20px; /* row-gap column gap */
}

img {
display: flex;
width: 200px;
height: 200px;
padding: 20px;
transition: transform .2s;
border-radius: 30px;
margin: 0 auto;
}

img:hover {
transform: scale(1.2); 
}

.pet-card {
background-color: #FDE9FF;
position: relative;
width: 260px;
height: 400px;
margin: 20px;
display: block;
flex-direction: column;
align-items: center;
border-radius: 30px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: box-shadow 0.3s ease-in-out;
}

.pet-info {
background-color: white;
position: absolute;
top: 140px;
left: 20px;
width: 215px;
height: 240px;
margin-right: auto;
margin-left: auto;
border-radius: 30px;

}

.pet-info h3 {
text-align: left;
font-size: small;
text-indent: 35px;

}


#image-png {
    display: flex;
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 30px;
    margin: 0 auto;
}

